body {
  background-color: #ffdb57;
  font-family: "Josefin Sans", sans-serif;
  color: #25313c;
}

.navbar-custom {
  background-color: #3e0163;
}

.rich-text img {
  max-width: 100%;
  height: auto;
}

.card-btn {
  background-color: #3e0163;
  color: #fff;
}

.responsive-object {
  position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social-icon {
  color: #3e0163;
}

.social-icon:hover {
  color: #3e0163;
}
