{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}
    
{% block content %}
    
    <a href="{% routablepageurl page "latest_posts" %}">View Latest Posts Only</a>


    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.intro|richtext }}</div>

    <div class="container">
    {% for page in blogpages %}
        <div class="row mt-5 mb-5">
            <div class="col-sm-3">
             {% image page.specific.blog_image fill-250x250 as blog_img %}
                 <a href="{% pageurl page %}">
                    <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                </a>    
            </div>
            <div class="col-sm-9">
                <h2 ><a href="{% pageurl page %}" style="color: #0885a3;">{{ page.title }}</a></h2>
            </div>
        </div>
            
            {{ page.specific.date }}
    {% endfor %}
    </div>


    {# Only show pagination if there is more than one page to click through #}
    {% if blogpages.paginator.num_pages > 1 %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination">
                        {% if blogpages.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ blogpages.previous_page_number }}" class="page-link">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for page_num in blogpages.paginator.page_range %}
                            <li class="page-item {% if page_num == blogpages.number %} active{% endif %}">
                                <a href="?page={{ page_num }}" class="page-link">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if blogpages.has_next %}
                            <li class="page-item">
                                <a href="?page={{ blogpages.next_page_number }}" class="page-link">
                                    <span>&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
