{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
    
{% block content %}

<div class="container mt-5 mb-5">
{% image self.blog_image fill-320x320 as blog_img %}
        <div class="text-center">
            <p class="meta">{{ page.date }}</p>
            <div class="intro">{{ page.intro }}</div>
            <h1>{{ page.title }}</h1>
        </div>

        <div class="d-flex justify-content-center">
                {% for iter in self.blog_authors.all %}
                {% image iter.author.image fill-50x50 as img %}
                <div>
                    <div>{% if iter.author.image %}
                        <img src="{{ img.url }}" class="rounded-circle" alt="{{ iter.author.name }}">
                    {% endif %}
                        
                    </div>
                    {% if iter.author.website %}
                        <a href="{{ iter.author.website }}">
                            {{ iter.author.name }}
                        </a>
                    {% else %}
                        {{ iter.author.name }}
                    {% endif %}
                    </div>
                {% endfor %}

                <img src="{{ blog_img.url }}">
            </div>
</div>
    
    <div class="text-center">
 
    </div>

    {% for child in self.body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% if child.block_type == 'heading' %}
                    <h2>{{ child }}</h2>
                {% else %}
                    {{ child }}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<div class="container">
        <p class="text-center"><a href="{{ page.get_parent.url }}" style="color: #3e0163;">Return to blog</a></p>
</div>
{% endblock %}
