{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
    
{% block content %}
    <div class="container mt-5 mb-5 text-center">
        <p class="meta">{{ page.date }}</p>
        <div class="intro">{{ page.intro }}</div>
        <h1>{{ page.title }}</h1>
    </div>
    
    {% image page.image fill-320x320 %}
    
    {% for child in self.body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% if child.block_type == 'heading' %}
                    <h2>{{ child }}</h2>
                {% else %}
                    {{ child }}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<div class="container">
        <p class="text-center"><a href="{{ page.get_parent.url }}" style="color: #3e0163;">Return to blog</a></p>
</div>
    
{% endblock %}
