{% load wagtailcore_tags %}

<section class="cta" style="background-color: #0885a3;
        color: #ffffff;
        line-height: 1.5;
        padding: 3.5% 7.5%;%">
<div class="container-fluid col-md-6 mb-sm-5 mt-sm-5" >
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>{{ self.title }}</h1>
            {{ self.text|richtext }}

            {% if self.button_page %}
                <a href="{{ self.button_page.url }}">{{ self.button_text}}</a>
            {% elif self.button_url %}
                <a href="{{ self.button_url }}">{{ self.button_text}}</a>
            {% endif %}
        </div>
    </div>
</div>
</section>
